body{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#first-card{
    background-image: url(/images/bg-pattern-quotation.svg);
    background-position: 90% top;
    background-size: 120px;
    background-repeat:no-repeat;
}
